<div class="mt-4 border-t pt-3">
    <h3>Comments</h3>
    <div class="mb-4">

        @for (c of comments(); track c.id) {

        <div class="bg-gray-100 p-1 rounded-lg">

            <li class="ml-5 text-xs">
                <div class="flex justify-between text-xs text-gray-500 mb-1">
                    <span class="font-semibold text-red-700">
                        {{ c.commented_by }}
                    </span>
                </div>

                <div class="text-sm text-gray-800">
                    {{ c.comment }}
                </div>
            </li>


        </div>

        }

    </div>

    <div class="space-y-2">

        <input type="text" placeholder="Your name" class="border p-2 w-full rounded" required [value]="commentedBy()"
            (input)="commentedBy.set($any($event.target).value)" />

        <textarea placeholder="Write a comment..." class="border p-2 w-full rounded" rows="3" required
            [value]="commentText()" (input)="commentText.set($any($event.target).value)"></textarea>

        <button (click)="addComment()" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded text-sm">
            Add Comment
        </button>

    </div>

</div>